@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in-text {
  animation: fadeInSwipe 1s ease-out forwards;
  clip-path: inset(0 100% 0 0);
}

@keyframes fadeInSwipe {
  0% {
    opacity: 0;
    clip-path: inset(0 100% 0 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

.markdown > * {
  all: revert;
}

::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 255, 0, 0.1);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 255, 0, 0.2);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

.highlight {
  animation: shine 1s ease-in-out;
  border-radius: 5px;
}
@keyframes shine {
  0% {
    background-color: #a7c7e7;
  }
  100% {
    background-color: transparent;
  }
}
.highlight-border {
  animation: highlight-border 4s ease-in-out forwards;
  border-radius: 5px;
  border: 2px solid #a7c7e7;
}

@keyframes highlight-border {
  0% {
    border-color: #a7c7e7;
  }
  100% {
    border-color: transparent;
  }
}
